.heading
{
font-size: 23px; 
width: 100%; 
margin: 0px;
}

body
{ 
    background-size: cover;
    background-image: linear-gradient(to right, #0088ff 0%, #00f2fe 100%);
}

.div_speed
{
float: left;
}

.div_speed_img
{
width: 200px; 
border-radius: 100px;
}

#speed
{
font-size: 23px; 
margin: 15px;
}
.div_volume

{

float: right;
}

.div_volume_img
{
width: 200px; 
border-radius: 100px;
}

#volume
{
font-size: 23px;
margin: 15px;
}

.play_button
{
    width: 130px; 
    font-size: 25px;
}

canvas
{
border: 5px solid white;
border-radius:20px;
}
h1{
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: blue;
    color: chartreuse;
    font-family: DotGothic16;
}